@import 'css_reset';
@import 'variables_mixins';
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Courier+Prime&family=Lato:wght@400;700&display=swap');


body {
    background-color: #F5FBFF;
}

h1 {
    font-family: $header-font;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 2em;
}

h2 {
    font-family: $header-font;
    font-size: 36px;
    margin-top: 3em;

}

h3 {
    font-family: $body-font;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

p {
    font-family: $body_font;
    font-weight: 300;
    font-size: 16pt;
    line-height: 20pt;
    margin-bottom: 10pt;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 700px) {

    h1,
    h2,
    h3,
    h4,
    p {
        text-align: center;
    }
}

/* ----------------------------------------- */
/* ---------------- Buttons ----------------- */
/* ----------------------------------------- */
.button {
    font-family: $header_font;
    font-size: 14pt;
    color: $black;
    width: 12em;
    line-height: 54px;
    text-align: center;
    border-radius: 18px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: $white_button_box_shadow;
    margin-bottom: 2em;
    margin-top: 2em;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: $white_button_hover_box_shadow;
    }

    &.blue {
        color: $white;
        background: $light_blue;
        box-shadow: $blue_button_box_shadow;

        &:hover {
            box-shadow: $blue_button_hover_box_shadow;
        }
    }

    &.purple {
        color: $white;
        background: $light_purple;
        box-shadow: $purple_button_box_shadow;

        &.purple:hover {
            box-shadow: $purple_button_hover_box_shadow;
        }
    }

    &.green {
        color: $white;
        background: $light_green;
        box-shadow: $green_button_box_shadow;

        &.green:hover {
            box-shadow: $green_button_hover_box_shadow;
        }
    }
}

.button:active,
ul.navigation li:active {
    animation: press 0.3s 1 linear;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.92);
    }

    to {
        transform: scale(1);
    }
}

input[type="submit"] {
    font-family: $header_font;
    font-size: 14pt;
    color: $black;
    line-height: 54px;
    text-align: center;
    border-radius: 18px;
    margin: 0 auto;
    color: $white;
    background: $light_blue;
    box-shadow: $blue_button_box_shadow;
    margin-bottom: 2em;
    transition: all 0.3s ease;
    padding: 0.25em 3em;
    border: none;

    &:hover {
        box-shadow: $blue_button_hover_box_shadow;
    }
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3em;

    &.claymorphism {
        div {
            height: auto;
            width: auto;
            border-radius: 20px;
            display: flex;
            flex-flow: column nowrap;
            padding: 1em;
            margin-bottom: 2em;
            color: $white;

            h3 {
                padding-left: 10%;
                padding-right: 10%;
            }

            p {
                text-align: center;
                margin-bottom: 1em;
                font-family: $body_font;
            }

            &.white {
                background: $white;

                p,
                h3 {
                    color: $black;
                }
            }

            &.blue {
                background: $blue_gradient;
            }

            &.green {
                background: $green_gradient;
            }

            &.purple {
                background: $purple_gradient;
            }
        }

        .button {
            font-family: $header_font;
            font-size: 14pt;
            color: $black;
            width: 220px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            border-radius: 18px;
            margin: 0 auto;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px #99BDD5, inset 2px 2px 4px rgba(220, 233, 241, 0.75), inset -8px -8px 12px #DCE9F1;
            margin-bottom: 2em;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0px 10px 20px #99BDD5, inset 2px 2px 4px rgba(170, 197, 215, 0.75), inset -8px -8px 12px rgba(170, 197, 215, 0.7);
            }

            &.blue {
                color: $white;
                background: $light_blue;
                box-shadow: $blue_button_box_shadow;

                &:hover {
                    box-shadow: $blue_button_hover_box_shadow;
                }

                &.blue_02:hover {
                    background: $blue_button_hover_02_background;
                    box-shadow: $blue_button_hover_02_box_shadow;
                }

                &.blue_03:hover {
                    background: $blue_button_hover_03_background;
                    box-shadow: $blue_button_hover_03_box_shadow;
                }
            }

            &.purple {
                color: $white;
                background: $light_purple;
                box-shadow: $purple_button_box_shadow;

                &:hover {
                    box-shadow: $purple_button_hover_box_shadow;
                }

                &.purple_02:hover {
                    background: $purple_button_hover_02_background;
                    box-shadow: $purple_button_hover_02_box_shadow;
                }
            }

            &.green {
                color: $white;
                background: $light_green;
                box-shadow: $green_button_box_shadow;

                &:hover {
                    box-shadow: $green_button_hover_box_shadow;
                }

                &.green_02:hover {
                    background: $green_button_hover_02_background;
                    box-shadow: $green_button_hover_02_box_shadow;
                }
            }
        }

        .button:active {
            animation: press 0.2s 1 linear;
        }

        @keyframes press {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(0.92);
            }

            to {
                transform: scale(1);
            }
        }
    }

    &.neumorphism {

        div {
            height: auto;
            width: auto;
            border-radius: 20px;
            display: flex;
            flex-flow: column nowrap;
            padding: 1em;
            margin-bottom: 2em;
            color: $black;
            background-color: #F0F0F3;

            p {
                text-align: center;
                margin-bottom: 1em;
                font-family: $body_font;
            }

            .button {
                font-family: $header_font;
                font-size: 14pt;
                color: $black;
                width: 220px;
                height: 54px;
                line-height: 54px;
                text-align: center;
                border-radius: 18px;
                margin: 0 auto;
                margin-bottom: 2em;
                transition: all 0.3s ease;

                &.white {
                    background: #F0F0F3;
                    box-shadow: 10px 10px 10px rgba(174, 174, 192, 0.4), -10px -10px 30px rgba(255, 255, 255, 0.4), inset 10px 10px 10px #FFFFFF, inset -10px -10px 10px rgba(174, 174, 192, 0.25);

                    &:hover {
                        color: $white;
                        background: #64A5EE;
                        box-shadow: 10px 10px 10px rgba(174, 174, 192, 0.4), inset 10px 10px 10px #A3CBF9, inset -10px -10px 10px #4C92E1;
                    }
                }

                &.white_02 {
                    background: #F0F0F3;
                    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;

                    &:hover {}
                }
            }
        }
    }


    &.projects_div {

        /* ----------------------------------------- */
        /* ----------------- PROJECTS -------------- */
        /* ----------------------------------------- */
        div.project {
            margin: 0 auto;
            width: 100%;
            height: auto;

            h2 {
                margin-top: 0;
                margin-bottom: 0.5em;
                text-align: left;
            }

            .button {
                margin: 0;
            }

            div.card {
                @include blue_clay_card;
                transition: all ease-in 0.3s;
                padding: 5em;
                display: flex;
                position: relative;
            transition: all ease-in 0.3s;

                div.project_text {
                    color: $white;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    p {
                        margin-bottom: 2em;
                    }
                }

                @media only screen and (max-width: 700px) {


                    div.phone_02,
                    div.phone_01 {}
                }

                /* ----------------- project images -------------- */
                div.phone_02,
                div.phone_01 {
                    transition: all ease-in 0.3s;
                    width: 14%;
                    position: absolute;

                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }

                div.phone_01 {
                    top: 0;
                    right: 0;
                }

                div.phone_02 {
                    top: -10%;
                    right: 11%;
                }

                &:hover {
                    div.phone_01 {
                        right: 5px;
                    }

                    div.phone_02 {
                        right: 10%;
                    }
                }

                @media only screen and (max-width: 1200px) {

                    div.phone_02,
                    div.phone_01 {
                        width: 22%;
                    }

                    div.phone_02 {
                        right: 18%;
                    }

                    &:hover {
                        div.phone_01 {
                            right: 5px;
                        }

                        div.phone_02 {
                            right: 17%;
                        }
                    }
                }

                @media only screen and (max-width: 990px) {

                    div.phone_02,
                    div.phone_01 {
                        width: 27%;
                    }

                    div.phone_02 {
                        right: 22%;
                    }


                    &:hover {
                        div.phone_01 {
                            right: 5px;
                        }

                        div.phone_02 {
                            right: 21%;
                        }
                    }
                }

                @media only screen and (max-width: 700px) {
                    flex-direction: column-reverse;

                    div.project_text {
                        width: 100%;
                        margin-top: 75%;

                        h2 {
                            text-align: center;
                        }
                    }

                    div.phone_02,
                    div.phone_01 {
                        width: 40%;
                    }

                    div.phone_02 {
                        right: 43%;
                    }

                    div.phone_01 {
                        top: -5%;
                        right: 12%;
                    }
                }
            }

            &.case_study_02 {
                margin-top: 10em;

                div.card {
                    @include purple_clay_card;

                    div.phone_01 {
                        width: 40%;
                        top: -10%;
                        right: 3%;
                    }

                    &:hover {
                        div.phone_01 {
                            width: 41%;
                            right: 2%;
                        }
                    }

                    @media only screen and (max-width: 700px) {
                        div.phone_01 {
                            width: 80%;
                            right: 9%;
                        }
                    }
                }





            }

            &.case_study_03 {
                margin-top: 10em;

                div.card {
                    @include green_clay_card;

                    &:hover {}
                }


            }
        }
    }
}